@charset "UTF-8";
/*Estilo para telas */

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgrey;
}

header{
    background-color: grey;
}

header > h1{
    text-align: center;
    text-shadow: 4px 4px 4px  rgba(0, 0, 0, 0.381);
}

menu > ul{
    list-style-type: none;
    background-color: rgb(154, 154, 154);
    text-align: center;
}

menu > ul > li{
    display: inline-block;
    color: white;
    background-color: rgb(91, 91, 91);
    padding: 5px;
    margin: 5px;
    border-radius: 6px;
}
article{
    display: block;
    margin: auto;
    width: 600px;
}
article > h2{
    margin: 10px;
    text-align: center;
    background-color: whitesmoke;
    background-size: contain;        
}
article > p{
    margin: 10px;
    text-align: justify;
    background-color: white;
}

li:hover{
    background-color: white;
    color: black;
    
}