@charset "UTF-8";

/*Estilos para telas*/

*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: lightgray;
}

header >h1{
    text-align: center;
}
menu ul{
    list-style-type: none;
    background-color: darkgray;
}
menu li{
    display: inline-block;
    padding: 10px;
    background-color: rgb(34, 34, 34);
    color: white;
    font-weight: bold;
    border-radius: 6px;
}

article{
    width: 500px;
    text-align: justify;
    display: block;
    margin: auto;
}
menu li:hover{
    text-decoration: underline;
    background-color: rgb(81, 81, 81);
    
}